.ourServices {
    margin-bottom: 120px;
}

.services_text {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.services_text img:nth-child(1) {
    position: absolute;
    top: -142px;
    left: -20.4vw;
}

.services_text img:nth-child(2) {
    position: absolute;
    top: 0;
    right: -20.1vw;
}

.services_text h2 {
    margin-top: 10px;
    margin-bottom: 14px;
}

.service_cards {
    display: flex;
    flex-direction: row;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #DB6300;
    padding: 12px 33px;
    color: #DB6300;
    font-weight: 700;
}

.nav-link:hover {
    transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
    color: #fff;
    background-color: #DB6300;
}

/**Media queries**/
@media screen and (min-width: 1023.98px) and (max-width: 1920px) {
    .services_text img {
        display: none;
    }
}

@media screen and (min-width: 767.97px) and (max-width: 1023.97px) {
    .services_text img {
        display: none;
    }

    .service_cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .services-cards_item {
        max-width: 35%;
        margin-right: 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767.96px) {

    .services_text img {
        display: none;
    }

    .service_cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-cards_item {
        min-width: 50%;
        margin: 0 0 40px 0;
    }
}

@media (max-width: 424px){
    .service_cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services-cards_item {
        min-width: 75%;
        margin-right: 0;
    }

    .services-cards_item:nth-child(1),
    .services-cards_item:nth-child(3) {
        margin: 0 0 40px 0;
    }

    .services-cards_item:nth-child(2) {
        margin: 0 0 40px 0;
    }

    .services_text img {
        display: none;
    }

}


