main {
    display: flex;
    flex-direction: row;
}

.main_text-title {
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
    color: #474747;
}

.main_text-subtitle {
    margin: 30px 0;
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
    color: #474747;
}

.main_text-description {
    margin-bottom: 110px;
}

.main_text-title span {
    color: #DB6300;
}

.main_img {
    position: relative;
}

.main_img img {
    position: absolute;
    right: -6px;
    top: 0;
}

.main_text {
    margin-top: 140px;
    margin-right: 600px;
    position: relative;
}

.main_text img:nth-child(1) {
    position: absolute;
    left: -368px;
    top: -70px;
}

.main_text img:nth-child(2) {
    position: absolute;
    right: -966px;
    top: -70px;
}

/*square*/
.square {
    position: absolute;
    left: 0;
    top: 0;
    width: 1217px;
    height: 800px;
    background-color: #FFFCF6;
    z-index: -1;
}

/**Media queries**/

@media (max-width: 768px) {

    .main_img {
        display: none;
    }

    .main_text {
        margin: 0;
        padding: 20px 0;
    }

    .main_text img {
        display: none;
    }

    .square {
        display: none;
    }

    .main_text-description {
        margin-bottom: 50px;
    }

}