.feedback {
    background-color: #FFFBF3;
}

.feedback_text {
    text-align: center;
    padding-top: 50px;
}

/**Media queries**/

@media (max-width: 768px) {
    .feedback {
        display: none;
    }
}
