.feedback {
    background-color: #FFFBF3;
}

.feedback_text {
    text-align: center;
    padding-top: 50px;
}

/**Media queries**/
@media screen and (min-width: 325px) and (max-width: 1024px) {
    .feedback {
        display: none;
    }
}
