/**Main footer style**/

footer {
    height: 90vh;
    background: url('/public/images/footer_img.png') no-repeat top center;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(219, 99, 0, 0.9);
    color: #fff;
    text-align: center;
}

.footer_text {
    padding-top: 19px;
}

.footer_text-title {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 22px;
}

.footer_text-description {
    line-height: 26px;
    margin-bottom: 31px;
}

.footer_subscribe {
    margin-bottom: 85px;
}

.footer_navigation-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 62px;
}

.footer_navigation-item {
    text-align: left;
    min-width: 25%;
}

.footer_navigation-item:first-child {
    margin-right: 103px;
}

.footer_navigation-description {
    line-height: 26px;
}

.footer_navigation-title {
    margin: 0 0 42px 0;
    font-size: 20px;
    line-height: 30px;
}

.footer_navigation-logo {
    font-size: 36px;
    line-height: 52px;
    margin: 0 0 17px 0;
}

.footer_navigation-item ul {
    padding: 0;
}

.footer_navigation-item li {
    list-style: none;
    margin-bottom: 18px;
}

.footer_navigation-item li:last-child {
    margin-bottom: 0;
}

.footer_navigation-link,
.footer_navigation-adress {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.footer_navigation-adress {
    vertical-align: middle;
}

/**List style for contact links**/

.footer_navigation-contacts::before {
    content: '';
    position: relative;
    right: 10px;
    padding: 3px 0px 3px 17px;
}

.footer_navigation-contacts:nth-child(2)::before {
    background: url('/public/images/phone.svg') no-repeat 0 5px transparent;
}

.footer_navigation-contacts:nth-child(3)::before {
    background: url('/public/images/map.svg') no-repeat 0 3px transparent;
}

.footer_navigation-contacts:nth-child(1)::before {
    background: url('/public/images/email.svg') no-repeat 0 8px transparent;
}

/**Hover effect for footer links**/

.footer_navigation-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.footer_navigation-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/**Social Media links style**/

.footer_navigation-social {
    display: flex;
    flex-direction: row;
    margin: 28px 0 0 -12px;
}

.footer_navigation-social a {
    margin-right: 18px;
}

.footer_navigation-social a:last-child {
    margin-right: 0;
}

.footer_navigation-social img:hover {
    transition: all .7s;
    box-shadow: 0 3px 18px 3.5px #ffffff;
    border-radius: 50%;
}

/** Subscribe form style**/

.footer_subscribe-form {
    display: flex;
    flex-direction: row;
    width: 770px;
    margin: 0 auto;
}

.footer_subscribe-form input[type=email] {
    flex-grow: 2;
    border: none;
    padding: 28px 0 26px 32px;
    border-radius: 16px;
}

input:focus {
    outline: none;
}

.footer_subscribe-form input[type=submit] {
    background: #DB6300;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    width: 170px;
    height: 50px;
    margin: 11px 0 0 -181px;
}

.footer_subscribe-form input[type=submit]:hover {
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #DB6300;
    color: #DB6300;
    transition: all .5s;
}

.footer_copyright-line {
    border: 1px solid #fff;
    margin-bottom: 17px;
}


/**Media queries**/
@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .footer_navigation-item {
        min-width: 20%;
    } 

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .footer_navigation-item:first-child {
        margin-right: 15px;
    }

    .footer_navigation-item {
        min-width: 20%;
    }

    .footer_subscribe-form {
        width: auto;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {

    footer {
        height: auto;
        background: none;
    }

    .footer_subscribe-form {
        width: 100%;
    }

    .footer_navigation {
        display: flex;
    }

    .footer_navigation-description {
        margin-bottom: 40px;
    }

    .footer_text-title {
        padding: 0 50px;
    }

    .footer_navigation-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer_navigation-item {
        max-width: 50%;
    }

    .footer_navigation-item:first-child {
        text-align: center;
        margin-right: 0;
        min-width: 100%;
    }

    .footer_copyright {
        padding-bottom: 50px;
    }

    .footer_subscribe {
        margin-bottom: 50px;
    }

}

@media (max-width: 424px) {

    footer {
        height: auto;
    }

    .footer_subscribe-form {
        width: 100%;
        flex-direction: column;
    }

    .footer_subscribe-form input[type=submit] {
        width: 100%;
        margin: 11px auto;
        height: 60px;
        border: 1px solid rgb(255 255 255 / 34%);
        font-size: 20px;
    }

    .footer_subscribe-form input[type=email] {
        border-radius: 8px;
    }

    .footer_navigation-items {
        flex-direction: column;
        justify-content: center;
    }

    .footer_navigation-item {
        text-align: center;
        min-width: 100%;
        margin-bottom: 20px;
    }

    .footer_navigation-title {
        margin: 0;
        font-size: 24px;
    }

    .footer_navigation-social {
        justify-content: center;
        margin: 48px 0 0 0;
    }

    .footer_copyright {
        padding: 0 48px 50px;
        line-height: 30px;
    }
}