.navigation_logo {
    font-size: 36px;
    text-decoration: none;
    color: #DB6300;
    font-weight: 700;
}

.navigation_logo:hover {
    color: #474747;
    transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
}

.navigation_logo:hover span {
    color: #DB6300;
    transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
}

.navigation_logo span {
    color: #474747;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_item {
    list-style: none;
    margin-right: 40px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #666666;
    position: relative;
}

.nav_link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #DB6300;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.nav_link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav_link-btn {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #DB6300;
    padding: 11px 54px;
    background-color: #DB6300;
    color: #fff;
    font-weight: 700;
    line-height: 26px;
}

.nav_link-btn:hover {
    transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
    background-color: transparent;
    border: 1px solid #DB6300;
    color: #DB6300;
}

/**Burger Menu Style**/

.burger-menu {
    display: none;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 75vw;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .35s;
}

.menu-item:hover {
    background-color: #CFD8DC;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn {
    position: fixed;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    left: 0;
}



/**Media queries**/

@media (min-width: 768px) and (max-width: 1280px) {
    .nav_item {
        margin-right: 15px;
    }

    .btnLinkFill {
        padding: 11px 40px;
    }

    .navigation_logo {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    .burger-menu {
        display: block;
    }

    .nav {
        display: none;
    }

    .navigation_logo {
        display: block;
        padding: 20px 0 0 0;
        z-index: 2;
    }

}

@media (max-width: 425px) {
    .main_text {
        text-align: center;
    }
}