.feedback_testimonials {
    text-align: center;
    min-height: 90vh;
}

.feedback_image {
    border-radius: 50%;
    margin-bottom: 19px;
}

.feedback_block-descr {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.feedback_block {
    max-width: 665px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    padding: 23px 38px;
    margin: 0 auto;
}

.feedback_block .star-rating {
    margin-right: 0;
}

/* .feedback_block::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 331px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 36.5px 40px 36.5px;
    border-color: transparent transparent #ffffff transparent;
} */
