@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url(./fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter'), url(./fonts/Inter-Bold.ttf) format('truetype');
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.secondary-text {
    font-size: 36px;
    line-height: 52px;
    color: #474747;
    font-weight: 700;
}

.descr-text {
    line-height: 26px;
    color: #666;
    font-weight: 400;
}

.another-text {
    color: #666;
    font-weight: 700;
    line-height: 26px;
}

.color-text {
    color: #DB6300;
    font-weight: 700;
}

/**Style for dots in slider**/

.paging-dot {
    vertical-align: middle;
    fill: rgb(229, 229, 229);
    width: 16px;
    height: 16px;
    transition: width .3s;
}

button[aria-selected="true"] .paging-dot {

    fill: rgb(219, 99, 0);
    width: 24px;
    height: 24px;
}



@media (max-width: 1280px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 768px), (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 15px;
    }
}