@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url(./fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter'), url(./fonts/Inter-Bold.ttf) format('truetype');
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.secondary-text {
    font-size: 36px;
    line-height: 52px;
    color: #474747;
    font-weight: 700;
}

.descr-text {
    line-height: 26px;
    color: #666;
    font-weight: 400;
}

.another-text {
    color: #666;
    font-weight: 700;
    line-height: 26px;
}

.color-text {
    color: #DB6300;
    font-weight: 700;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}