@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url(./fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter'), url(./fonts/Inter-Bold.ttf) format('truetype');
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}