.card-slider_text {
    text-align: center;
}

.card-slider_items {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {

    .card-slider_items {
        flex-wrap: wrap;
    }    

}